@charset "UTF-8";
/*Color*/ /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  Max-width: 100%;
  Height: auto;
}

/* 全域 border box */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  background-color: #020202;
  /*overflow-x: hidden;*/
  line-height: 150%;
  font-size: 16px;
  color: #FFFFFF;
}
body a {
  text-decoration: none;
  color: #FFFFFF;
}
body a:active, body a:visited {
  color: #FFFFFF;
}

.container {
  margin: 0 auto;
}

.Display01B {
  font-weight: 900;
  font-size: 160px;
  line-height: 120%;
}

.Display02B {
  font-weight: 900;
  font-size: 120px;
  line-height: 120%;
}

.Display03B {
  font-weight: 900;
  font-size: 80px;
  line-height: 120%;
}

.Headling01B {
  font-weight: 900;
  font-size: 48px;
  line-height: 120%;
}

.Headling03B {
  font-weight: 900;
  font-size: 32px;
  line-height: 120%;
}

.Headling06B {
  font-weight: 900;
  font-size: 20px;
  line-height: 120%;
}

.Small {
  font-size: 14px;
  line-height: 150%;
}

.SmallB {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
}

.BodyB {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}

.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #FFFFFF;
}
.top-navbar img {
  display: block;
  width: 245px;
  -o-object-fit: cover;
     object-fit: cover;
}
.top-navbar .navbar-menu {
  display: flex;
  gap: 20px;
}
.top-navbar .navbar-btn {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  color: #ffffff;
  display: none; /* 在電腦版時不顯示 */
}
.top-navbar .navbar-btn:hover {
  transform: scale(1.1);
}
.top-navbar .navbar-collapse {
  display: none; /* 在電腦版時不顯示 */
  position: absolute;
  top: 80px;
  width: 98%;
  min-height: calc(100vh - 81px); /* 佔滿整個瀏覽器高度扣掉 navbar 高度 */
  background-color: #020202;
}

.top-title h1 {
  margin-top: 40px;
}
.top-title .enterbtn {
  border: 1px solid #FFFFFF;
  border-radius: 16px;
  padding: 20px 40px;
  margin-top: 40px;
  display: inline-block;
}

.motin {
  margin-top: 100px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
.motin img {
  display: block;
  animation-name: Move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.motin .grass1 {
  animation-delay: 0.6s;
}
.motin .grass2 {
  animation-delay: 0.3s;
}
.motin .grass3 {
  animation-delay: 0s;
}

@keyframes Move {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@media (max-width: 767px) {
  .top-navbar {
    height: 80px;
  }
  .top-navbar img {
    width: 147px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .top-navbar .navbar-btn {
    display: block;
  }
  .top-navbar .navbar-menu {
    display: none;
  }
  .top-navbar .navbar-collapse {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .top-navbar .navbar-collapse.show {
    display: flex;
  }
  .top-navbar .material-icons {
    display: none;
  }
  .top-navbar .material-icons.show {
    display: block;
  }
  .top-title .Display02B {
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
  }
  .motin img {
    width: 117px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.AI-service {
  margin-top: 160px;
}

.service-title {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.service-title h2 {
  width: 33.33%;
}
.service-title p {
  width: 66.66%;
}

.service-items {
  margin-top: 80px;
  display: flex;
  gap: 24px;
}
.service-items li {
  border: 1px solid #525252;
  border-radius: 16px;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  width: 416px;
  gap: 20px;
}
.service-items img {
  display: block;
}

.coworker-title {
  margin-top: 160px;
}

.coworker-logos {
  margin-top: 80px;
}
.coworker-logos ul {
  display: flex;
  gap: 20px;
  justify-content: center;
  overflow-x: scroll;
  position: relative;
  /* 隱藏 x 軸 */
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */
}
.coworker-logos ul::-webkit-scrollbar {
  display: none;
}
.coworker-logos ul img {
  width: 160px;
  height: 40px;
  max-width: initial;
}
.coworker-logos ul::before, .coworker-logos ul::after {
  content: "";
  position: absolute;
  top: 0;
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.991615) 11.79%, rgba(0, 0, 0, 0.967585) 21.38%, rgba(0, 0, 0, 0.9296) 29.12%, rgba(0, 0, 0, 0.879348) 35.34%, rgba(0, 0, 0, 0.818519) 40.37%, rgba(0, 0, 0, 0.7488) 44.56%, rgba(0, 0, 0, 0.671881) 48.24%, rgba(0, 0, 0, 0.589452) 51.76%, rgba(0, 0, 0, 0.5032) 55.44%, rgba(0, 0, 0, 0.414815) 59.63%, rgba(0, 0, 0, 0.325985) 64.66%, rgba(0, 0, 0, 0.2384) 70.88%, rgba(0, 0, 0, 0.153748) 78.62%, rgba(0, 0, 0, 0.0737185) 88.21%, rgba(0, 0, 0, 0) 100%);
  width: 196px;
  height: 40px;
}
.coworker-logos ul::before {
  left: 0;
}
.coworker-logos ul::after {
  right: 0;
  transform: rotate(-180deg);
}
.coworker-logos ul:not(:first-child) {
  margin-top: 20px;
}

.coworker-recommends {
  margin-top: 160px;
  display: flex;
  gap: 24px;
}
.coworker-recommends li {
  width: 416px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.08);
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.coworker-recommends .starts {
  display: flex;
  gap: 4px;
}
.coworker-recommends p {
  color: #F2F2F2;
}
.coworker-recommends .coworker-user {
  display: flex;
  gap: 16px;
}
.coworker-recommends .info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@media (max-width: 767px) {
  .service-title {
    flex-direction: column;
  }
  .service-title h2 {
    width: 100%;
  }
  .service-title p {
    width: 100%;
  }
  .service-title .Headling03B {
    font-weight: 900;
    font-size: 20px;
    line-height: 120%;
  }
  .service-title .Headling01B {
    font-weight: 900;
    font-size: 32px;
    line-height: 120%;
  }
  .service-items {
    flex-direction: column;
    align-items: center;
  }
  .coworker-recommends {
    flex-direction: column;
    align-items: center;
  }
}
/* 以下自訂 */
.AI-tool {
  background-color: #FFFFFF;
  border-radius: 160px;
  margin-top: 160px;
  padding: 160px 0;
  max-width: 1920px;
  color: #020202;
}
.AI-tool h2 {
  text-align: center;
}

.tool-search {
  margin-top: 80px;
  color: #919191;
  line-height: 150%;
  display: flex;
  align-items: center;
  /*.search-background*/
}
.tool-search .material-icons {
  position: absolute;
  padding: 20px 0 20px 40px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /*
  display: flex;
  align-items: center;
  gap: 12px;
  */
}
.tool-search input {
  width: 100%;
  background: #F2F2F2;
  border-radius: 16px;
  font-size: 16px;
  border: 0;
  padding: 20px 0 20px 76px;
  outline: none;
}

.tool-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 24px;
  line-height: 150%;
}

.filter-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: 1px solid #F2F2F2;
  border-radius: 16px;
}
.filter-main .filter-dropdown {
  position: relative;
}
.filter-main .filter-dropdown-btn {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #F2F2F2;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 32px;
  padding-bottom: 20px;
  border-radius: 16px;
  font-size: 16px;
}
.filter-main .filter-dropdown-btn:hover {
  border-color: #020202;
}
.filter-main .dropdown-menu {
  position: absolute;
  display: none;
  margin-top: 4px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  padding: 20px 0;
  border-radius: 16px;
  background-color: #FFFFFF;
}
.filter-main .dropdown-menu a {
  padding: 4px 40px;
  color: #020202;
}
.filter-main .dropdown-menu a:hover {
  background-color: #F2F2F2;
}
.filter-main .dropdown-menu.show {
  display: block;
}

.filter-subs {
  display: flex;
  align-items: center;
  gap: 10px;
}
.filter-subs .filter-sub {
  padding: 8px 16px;
}
.filter-subs a {
  color: #919191;
  text-decoration: none;
  display: block;
}
.filter-subs a:active, .filter-subs a:visited {
  color: #919191;
}
.filter-subs .active {
  background-color: #F2F2F2;
  border-radius: 16px;
}
.filter-subs .active a {
  color: #020202;
  font-weight: 700;
}

.filter-sort .sort-dropdown {
  position: relative;
}
.filter-sort .sort-dropdown-btn {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #F2F2F2;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 32px;
  padding-bottom: 20px;
  border-radius: 16px;
  font-size: 16px;
}
.filter-sort .sort-dropdown-btn:hover {
  border-color: #020202;
}
.filter-sort .dropdown-menu {
  position: absolute;
  right: 0;
  display: none;
  margin-top: 4px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  padding: 20px 0;
  border-radius: 16px;
  background-color: #FFFFFF;
}
.filter-sort .dropdown-menu a {
  padding: 4px 40px;
  color: #020202;
}
.filter-sort .dropdown-menu a:hover {
  background-color: #F2F2F2;
}
.filter-sort .dropdown-menu.show {
  display: block;
}

.cardlist {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.card {
  width: 416px;
  border: 1px solid #F2F2F2;
  border-radius: 16px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}
.card img {
  transition: 0.5s;
}
.card:hover img {
  transform: scale(1.2);
}

.card-img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: 416px;
  height: 312px;
  overflow: hidden;
}

.card-item {
  padding: 20px 32px;
  line-height: 150%;
}

.card-item1 {
  flex-grow: 1;
}
.card-item1 h3 {
  margin-bottom: 12px;
}
.card-item1 p {
  color: #525252;
}

.card-item2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #F2F2F2;
}
.card-item2 .bold {
  font-weight: 700;
}
.card-item2 .material-icons {
  color: #020202;
}

.tool-page {
  margin-top: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.tool-page ul {
  display: flex;
  gap: 8px;
}
.tool-page li {
  width: 48px;
  height: 48px;
  color: #020202;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tool-page li.active, .tool-page li.active:hover {
  background-color: #020202;
  color: #FFFFFF;
  cursor: initial;
}
.tool-page li:hover {
  background-color: #F2F2F2;
  color: #020202;
}
.tool-page li:active {
  background-color: #919191;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .AI-tool {
    border-radius: 20px;
  }
  .AI-tool h2.Display03B {
    font-weight: 900;
    font-size: 32px;
    line-height: 120%;
  }
  .cardlist {
    justify-content: center;
  }
}
.AI-start {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.AI-start a {
  border: 1px solid #FFFFFF;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 32px;
}

.AI-footer {
  margin-top: 80px;
  margin-bottom: 8px;
}

.footer-Home {
  border-top: solid 1px #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
}
.footer-Home ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-Logo img {
  display: block;
  width: 245px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-Menu {
  border-top: solid 1px #FFFFFF;
  padding: 20px 0;
}
.footer-Menu ul {
  display: flex;
  gap: 20px;
}
.footer-Menu li {
  margin: 12px 0;
}
.footer-Menu li .material-icons {
  font-size: 16px;
}
.footer-Menu .copyright {
  padding-right: 80px;
}
.footer-Menu .backToTop {
  position: absolute;
  right: 0;
}
.footer-Menu .backToTop a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}/*# sourceMappingURL=all.css.map */