.AI-footer{
    margin-top: 80px;
    margin-bottom: 8px;  
}

.footer-Home{
    border-top:solid 1px $Black0;
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;
    ul{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

.footer-Logo{
    img{
        display: block;
        width: 245px;
        object-fit: cover;
    }
}

.footer-Bottom{
    border-top:solid 1px $Black0;
    padding: 32px 0;
}
.footer-Menu{
        display: flex;
        gap: 20px;
        /*
    li{
        margin: 12px 0;
        .material-icons{
            font-size: 16px;
        }
    }
    .copyright
    {
        padding-right: 80px;
    }
    */
}
.backToTop{
    position: absolute;
    right: 0;
    a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
    }
}
.footer-Share{
    display: flex;
        gap: 20px;
}

@media(max-width:767px){
    .AI-footer{
        .Display03B{
            font-weight: 900;
            font-size: 48px;
            line-height: 120%;
        }
    }
    .footer-Home{
        flex-direction:column-reverse;
        gap:40px;
    }
    .footer-Menu{
            flex-direction: column;
            gap: 36px;
    }
    .backToTop{
        right: 24px;
    }
}